<div class="row justify-content-center np-publish-page">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="myNumberLabel" jhiTranslate="operator.home.publish">
                Publish a Number
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="operator.publish.number">Number</label>
                    <input type="text" class="form-control" name="number" #numberInput="ngModel"
                        [(ngModel)]="numToPublish.number" required minlength="1" maxlength="50" pattern="^[0-9]*$">

                    <div *ngIf="numberInput.dirty && numberInput.invalid">
                        <small class="form-text text-danger"
                        *ngIf="numberInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                        *ngIf="numberInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                        translateValues="{max: 20}">
                            This field cannot be longer than 20 characters.
                        </small>

                        <small class="form-text text-danger"
                        *ngIf="numberInput.errors.pattern" jhiTranslate="entity.validation.patternLogin">
                            This field can only contain digits.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="operator.publish.operator">operator</label>
                    <input type="text" class="form-control" name="operator"
                        [(ngModel)]="numToPublish.operator" required minlength="1" maxlength="20">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                    jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
