.operator-page {
    min-height: 80vh;

    .jh-create-entity {
        margin-left: 10px;
    }

    .operator-name {
        color: #555555;
        font-size: 15px;
        margin-left: 15px;
    }
}
